nav.navbar{
    display: block;
    background: black;
    max-width: 720px;
    margin: auto;
    position: fixed; top: 0px; left: 30%;
}
@media only screen and (max-width: 600px){
    nav.navbar{
        display: block;
        background: black;
        max-width: 600px;
        margin: auto;
        position: fixed; top: 0px; left: 0px;
    }
}
ul.header{
    display: flex;
    margin: auto;
    padding: 0px 10px;
}
li{
    display: flex;
    list-style: none;
}
a{
    text-decoration: none;
    padding: 0px 10px;
    color: white;
}
a:hover{
    text-decoration: underline;
}
#first{
    margin-top: 35px;
}
body{
    background: url(devimaa.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    /*background-color: ivory;
    background-blend-mode: luminosity;*/
    color: white;
    background-color: black;
    background-blend-mode: normal;
}
h1{
    text-align: center;
}
p{
    font-family: cursive;
}